
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Montserrat:wght@200;300;400;500;600&display=swap');
@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
  scroll-behavior: smooth;
}

/* Custom Sleek Obsidian Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #04070e;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00d2ff;
}